@media only screen and (max-width: 768px) {
    .cls_sh_all_in_one_mbs_video_tag {
        border: 1px solid gray;
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }
}



/*
Global Document Search
*/

.o_mail_systray_item .form-group .form-control{
	    border: 1px solid #ced4da;
}
.o_mail_systray_item .form-group .form-control:focus{
	box-shadow: none;
	    border: 1px solid #ced4da;
	box-shadow:0 0 .5px .5px#ced4da;
}
.o_mail_systray_item .head{
	background: #7c7bad;
    color: #fff;
}
.o_mail_systray_item .input{
    margin-right: 16px;
    margin-left: 16px;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
}
.o_mail_systray_item .input .col-3,
.o_mail_systray_item .input .col-9{
    padding-right: 0;
    padding-left: 0;
}
    