        /* In order to place the tracking correctly */
        canvas.drawing, canvas.drawingBuffer {
            position: absolute;
            left: 0;
            top: 60px;
        }
        #js_id_sh_sale_mbs_container video {
        	width:100%;
        }
         #js_id_sh_event_qr_mobile_loading_msg {
		      text-align: center;
		      padding: 40px;
		      background-color: #eee;
		    }
		
		    #js_id_sh_event_qr_mobile_canvas {
		      width: 100%;
		    }
		
		    #js_id_sh_event_qr_mobile_output {
		      margin-top: 20px;
		      background: #eee;
		      padding: 10px;
		      padding-bottom: 0;
		    }
		
		    #js_id_sh_event_qr_mobile_output div {
		      padding-bottom: 10px;
		      word-wrap: break-word;
		    }
		
		    #noQRFound {
		      text-align: center;
		    }
.camera-list{
	position: absolute;
	width: 100%;
	height: 98%;
	bottom: 0px;
	border: thin solid rgb(0, 0, 0);
	display: none;
	padding: 5px;
	overflow-y: auto;
	background: #CCC;
	z-index: 1000;
}
.cls_sh_all_in_one_mbs_video_tag{
	object-fit : cover;
	width: 95%;
	
}
#js_id_sh_sale_barcode_mobile_cam_select{
	 cursor: pointer;
    height: 30px;
    -webkit-user-select: none;
    background-color: #ccc;
    border: 1px solid #2b2828;
    border-radius: 4px;
    border-radius: 0;
    margin: 10px 0;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    box-shadow: none;
	
}
   