<section class="oe_container" style="background-image:url(banner-home-index-odoo.png);font-family: Arial, Helvetica, sans-serif;background-repeat:no-repeat;background-size:100%;padding: 4% 0% 2% 15%;background-position-y: -107px;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="font-size: 35px;color: #62495B;font-weight: 900;text-transform: uppercase;text-align: left;margin: 0;margin-bottom: 16px;">
            Enterprise Backend Theme
        </h2>
        <h5 class="oe_slogan" style="text-align: left;width: 293px;padding: 10px;color: #282F33 !important;opacity: 1 !important;font-weight: 600;font-size: 20px;">
            <a style="color: #282F33 !important;" href="https://juventudproductivabicentenaria.blogspot.com">Juventud Productiva</a>
        </h5>
        <a style="color: #080808 !important;" href="https://juventudproductivabicentenaria.blogspot.com" target="_blank">
            <div style="width: 215px;margin-left: 57%;text-align: center;background: #ffffff;height: 215px;border-radius: 100%;display: flex;justify-content: center;align-items: center;box-shadow: 0 0 12px 4px #00000059;">
                <img src="jpv-logo.png" alt="" style="width: 180px;"/>
            </div>
        </a>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Enterprise Backend Theme</h2>
        <h3 class="oe_slogan">This theme changes the view of the Novaris backend,
            <br/>occupying the colors and background of Novaris Edition Enterprise.
            <br/>One need, <b>one app</b>. Novaris
        </h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="banner.png">
        </div>
    </div>
</section>

<section class="oe_container" style="background-image:url(banner-body-index-odoo.png); font-family: Arial, Helvetica, sans-serif; background-repeat:no-repeat; background-size:cover;padding: 19% 0% 30% 15%;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
             Features
        </h2>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="check.png">
            Add menu apps icon.
         </h3>
         <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="check.png">
             Responsive theme.
         </h3>
        <h3 class="oe_slogan" style="text-align: left;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 18px;">
            <img src="check.png">
            Based in Novaris Edition Enterprise. 
         </h3>
    </div>
</section>
<section class="oe_container" style="padding: 3% 0% 0% 15%;font-family: Arial, Helvetica, sans-serif;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Screenshots
        </h2>
        <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 1% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <img src="check.png">
            Munu apps icon.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="screenshots-one.png" alt="" style="width: 95%;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 1% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <img src="check.png">
            Colors Background enterprise.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="screenshots-two.png" alt="" style="width: 95%;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 1% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <img src="check.png">
            Incluided Dashboard.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="screenshots-three.png" alt="" style="width: 95%;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 1% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <img src="check.png">
            View Form.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="screenshots-four.png" alt="" style="width: 95%;"/>
        </div>
        <h3 class="oe_slogan" style="text-align: left;padding: 5% 0% 1% 0%;font-size: 16px;width: 90%;margin: 0;margin-top: 14px;color: #000 !important;opacity: 1 !important;line-height: 24px;">
            <img src="check.png">
            Alert Backgroud enterprise.
         </h3>
        <div class="oe_row oe_spaced">
            <img src="screenshots-five.png" alt="" style="width: 95%;"/>
        </div>
    </div>
</section>

<section class="oe_container" style="padding: 30px 0% 0% 3%; font-family: Arial, Helvetica, sans-serif;">
     <div class="oe_row oe_spaced">
         <a style="color: #080808 !important;" href="https://apps.nova-mis.com/apps/modules/browse?author=JUVENTUD%20PRODUCTIVA%20VENEZOLANA" target="_blank"><img src="https://1.bp.blogspot.com/-RCYofXUdZ8w/XWWyVf8SIxI/AAAAAAAAJz0/oHnafmznCGMyReKCU-0cZFIpq-Va4HVXwCLcBGAs/s1600/more-apps.png" alt="Juventud Productiva Venezolana" style="width: 100%;margin-bottom: 50px;"/></a>
     </div>
</section>
<section class="oe_container" style="padding: 1% 0% 0% 3%; font-family: Arial, Helvetica, sans-serif;">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="text-align: left;font-size: 28px;font-weight: 600;margin: 0px !important;">
            Our Services
        </h2>
        <div style="display:flex;padding-top: 20px;justify-content: space-between;">
            <div style="flex-basis: 18%;">

                    <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                            <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                            <img src="odoo-customization.png" style="width: 100%;border-radius: 100%;"/>
                            </a>
                    </div>
                     <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                         <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                            Novaris Customization
                         </a>
                     </h3>

            </div>
             <div style="flex-basis: 18%;">

                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                            <img src="odoo-implementation.png" style="width: 100%;border-radius: 100%;"/>
                        </a>
                </div>
                 <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                        Novaris Implementation </a>
                 </h3>

            </div>
             <div style="flex-basis: 18%;">

                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                    <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                        <img src="odoo-integration.png" style="width: 100%;border-radius: 100%;"/>
                    </a>
                </div>
                 <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                        Novaris Integration
                    </a>
                 </h3>

            </div>
             <div style="flex-basis: 18%;">

                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                            <img src="odoo-training.png" style="width: 100%;border-radius: 100%;"/>
                        </a>
                </div>
                 <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                        Novaris Training</a>
                 </h3>

            </div>
             <div style="flex-basis: 18%;">

                <div style="width:75px;height:75px;background:#fff; border-radius:100%;margin: auto;">
                        <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                            <img src="odoo-contract-developer.png" style="width: 100%;border-radius: 100%;"/>
                        </a>
                </div>
                 <h3 class="oe_slogan" style="font-weight: 800;text-align: center;font-size: 14px;width: 100%;margin: 0;margin-top: 14px;color: #000 !important;margin-top: 5px;opacity: 1 !important;line-height: 17px;">
                    <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank">
                        Contract Novaris Developers</a>
                 </h3>
                     </a>
            </div>
        </div>
    </div>
</section>
<section class="oe_container" style="background-image:url(jpv-odoo-footer.png); background-repeat:no-repeat; background-size:100%;padding: 13% 0% 6% 0%; font-family: Arial, Helvetica, sans-serif;">
    <div class="oe_slogan" style="margin-top:10px !important;margin-bottom: 5px;">
        <div>
            <a style="color: ##875A7B !important;border-radius: 0;background: none;border: none;background: #875A7B;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 12px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="mailto:juventudproductivabicentenaria@gmail.com.com"><i class="fa fa-envelope"></i> Email us </a>
            <a style="color: ##875A7B !important;border-radius: 0;background: none;border: none;background: #875A7B;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 12px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://juventudproductivabicentenaria.blogspot.com/p/acerca-de-nosotros_5.html"><i class="fa fa-phone"></i> Contact Us </a>
            <a style="color: ##875A7B !important;border-radius: 0;background: none;border: none;background: #875A7B;box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.05);border-radius: 30px;font-size: 12px;padding: 9px 26px;margin-right: 9px;width: 200px;text-transform: capitalize;" class="btn btn-primary btn-lg mt8" style="color: #FFFFFF !important;border-radius: 0;" href="https://https://juventudproductivabicentenaria.blogspot.com/p/acerca-de-nosotros_5.html"><i class="fa fa-check-square"></i> Request Customization </a>
        </div>
        <br>
        <img src="jpv-logo.png" style="width: 190px; margin-bottom: 25px;margin-top: 30px;" class="center-block">
        <div>
          <a href="https://twitter.com/Oficial_JPV" target="_blank"><i class="fa fa-2x fa-twitter" style="color:white;background: #00a0d1;width:35px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
          <a href="https://www.youtube.com/c/JuventudProductivaVenezolana?sub_confirmation=1" target="_blank"><i class="fa fa-2x fa-youtube" style="color:white;background: #c53c2c;width:35px;padding-left: 3px;height: 35px;padding-top: 7px;font-size: 21px;margin-right: 6px;border-radius: 100%;"></i></a></td>
        </div>
    </div>
</section>

