<section style="font-family: 'Lato', sans-serif;">
  <div class="container" style="text-align:left;">
    <div class="row">
      <div class="col-lg-12">
        <p class="jumbotron lead" style="margin-bottom:40px;">Bistro is a professional responsive HTML5 theme, built using Bootstrap, a popular front-end framework for developing responsive, mobile first projects on the web.<br/> Just drag &amp; drop the building blocks you need to easily build your layout. All layouts are made of sections, that you can easily combine to fit your specific project.</p>

        <h2 style="font-size:32px;font-weight:500;margin-bottom:20px;">Customization Tools</h2>
        <div class="alert alert-info" style="margin-bottom:20px; padding:20px;">Bistro was made with <strong>easy customization</strong> and <strong>branding</strong> in mind. Based on simple, modern and typographical elements, it allows you to easily build your website. All the options were made to work together. You can not go wrong with the settings.
        </div>
        <p class="text-muted"><i class="fa fa-1x fa-info-circle" style="color:#000;"></i> - You will find these options in: <strong>Customize</strong> (top-right of the screen) > <strong>Customize Theme</strong></p>

        <div class="row">
          <div class="col-lg-4" style="margin-bottom:40px;">
            <img src="customization-modal-colors.gif" class="img img-fluid">
          </div>
          <div class="col-lg-4">
            <img src="customization-modal-fonts-patterns.gif" class="img img-fluid">
          </div>
          <div class="col-lg-4">
            <img src="customization-modal-background.gif" class="img img-fluid">
          </div>
        </div>

        <p style="margin-bottom:40px;">Some fonts might not work with extended charsets.</p>

        <h2 style="font-size:32px;font-weight:500;margin-bottom:20px;">Building Blocks</h2>
        <div class="alert alert-info" style="padding:20px;">You get a <strong>new complete range</strong> of building blocks.</div>
        <p class="text-muted"><i class="fa fa-1x fa-info-circle" style="color:#000;"></i> - You will find these blocks in: <strong>Edit</strong> (top-left of the screen) > <strong>Insert Blocks</strong></p>

        <h3 style="font-size:24px;font-weight:500;margin-bottom:10px;">Structure</h3>
          <div style="font-size:12px;">
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_page_header.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Page Header
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_numbers.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Numbers
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_images_carousel.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Boxed Carousel
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_images_captions_fw.gif" style="border:2px solid #000;margin:10px 0 5px 0;"/><br/>
              FW. Images + Captions
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_masonry_block.gif" style="border:2px solid #000;margin:10px 0 5px 0;"/><br/>
              Masonry Block
            </div>
          </div>

        <h3 style="font-size:24px;font-weight:500;padding:20px 0 10px 0;clear:both;">Content</h3>
          <div style="font-size:12px;">
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_well_extended.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Well + Icons
            </div>
             <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_blockquote_extended.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Blockquote + Author
            </div>
             <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_panel_extended.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Panel + Icons
            </div>
             <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_share_extended.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Social + Styles
            </div>
             <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_badge.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Label
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_progress_bar.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Progress bar
            </div>
          </div>

        <h3 style="font-size:24px;font-weight:500;padding:20px 0 10px 0;clear:both;">Features</h3>
          <div style="font-size:12px;">
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_features_grid_circle.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Features Grid
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_media_list.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Medias List
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_news_carousel.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Naws Carousel
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_process_steps.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Steps
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_team_profiles.gif" style="border:2px solid #000;margin-bottom:5px;"/><br/>
              Team Profiles
            </div>
            <div class="float-left text-center" style="width:110px;">
              <img src="snippets_thumbs/s_google_map.gif" style="border:2px solid #000;margin:10px 0 5px 0;"/><br/>
              Google Map
            </div>
          </div>

        <h2 style="font-size:32px;font-weight:500;padding:40px 0 20px 0;clear:both;">Customize Your Blocks</h2>
        <div class="alert alert-info" style="padding:20px;">Each building blocks comes with its own options of <strong>layout</strong>, <strong>backgrounds</strong>, <strong>colors</strong>, and <strong>styles</strong></div>

        <p style="margin-bottom:40px;">The images in this theme are copyrighted and can't be used outside of the nova-mis.com domain.</p>

        <p class="jumbotron lead text-center" style="margin-bottom:40px;">
          This theme was created with the help of our user community.<br/>
          <strong>Thanks to our backers the Indiegogo campaign was a success!</strong><br/>
          <a>https://www.indiegogo.com/projects/bootstrap-themes-for-odoo-cms/</a>
        </p>

        <h2 class="text-center" style="margin-top: 32px;">MAIN SPONSOR</h2>
        <hr style="border-top-color:#000;">
        <div class="row">
          <div class="col-lg-2">
            <a href="http://www.aselcis.com/" target="blank">
              <img src="contributors/aselcis.jpg" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.bas-solutions.nl/" target="blank">
              <img src="contributors/bas-solutions.png" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.bloopark.de/" target="blank">
              <img src="contributors/bloopark.png" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.brouwland.com" target="blank">
              <img src="contributors/brouwland.jpg" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.catsanddogs.com/" target="blank">
              <img src="contributors/catsdogs.png" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="https://www.hucke-media.de/" target="blank">
              <img src="contributors/huckemedia.png" class="img-fluid img"/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <a href="http://www.datadialog.net/" target="blank">
              <img src="contributors/dialognet.png" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.dynapps.be/" target="blank">
              <img src="contributors/dynapps.jpg" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://opusvl.com/" target="blank">
              <img src="contributors/opusvl.png" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://oxenworkwear.com/" target="blank">
              <img src="contributors/oxen.jpg" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.simplit.co/" target="blank">
              <img src="contributors/simplitco.jpg" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.sodexis.com/" target="blank">
              <img src="contributors/sodexis.jpg" class="img-fluid img"/>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 offset-lg-3">
            <a href="https://www.techreceptives.com" target="blank">
              <img src="contributors/tech-receptives.png" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="http://www.applicatour.com/" target="blank">
              <img src="contributors/applicatour.jpg" class="img-fluid img"/>
            </a>
          </div>
          <div class="col-lg-2">
            <a href="https://vauxoo.com" target="blank">
              <img src="contributors/vauxoo.png" class="img-fluid img"/>
            </a>
          </a>
        </div>
      </div>
      <p>
        Ross Whiting, Oxenworkwear - Hans Balis - Stephan Keller, Sodexis, Inc. - Michael Hucke, Hucke Media GmbH & Co. KG - Joachim Grubelnik, DaDi EDV GmbH​ datadialog.net - DynApps - Cats&Dogs bvba - Bloopark systems GmbH & Co. KG - Parthiv Patel, Tech Receptives Solutions Pvt. Ltd. - Stuart Mackintosh, OpusVL - Erwin van der Ploeg, BAS Solutions - ali Zuaby, simplit co - Aselcis Consulting - Nhomar Hernandez, Vauxoo
      </p>
      <h2 class="text-center" style="margin-top: 40px;">SPONSOR</h2>
      <hr style="border-top-color:#000;">
      <p>
        Robert Baumgartner, datenpol gmbh - openBIG - Russell Phillippe, Protogenos Ltd - Julien Allo, Julius - EasyPME - Jonathan Wilson, WillowIT Pty Ltd - Xavier Mallein, MAallein - Pedro M. Baeza, Serv. Tecnol. Avanzados - Daniel Dico, OERP Canada - Jantz Business Group b.v. - LogicaSoft Consulting  - Eric Caudal, Elico Corp - Ermin Trevisan, Twanda - Jean-François Mattler, OpenFid SAS - Alex Ferrer, Lannex IT Solutions - Tony Gu, Shine IT Co. Ltd. 先安科技 - TaPo-IT OG - Jos De Graeve, Apertoso - Nicolas Rigo, eezee-it - Luis Miguel Varón E, Colorisa S.A - OpenBias - Stanislas Drouin Applicatour
      </p>
      <h2 class="text-center" style="margin-top: 40px;">POWER DESIGNER</h2>
      <hr style="border-top-color:#000;">
      <p>
        Rohit Thakral - François Dhommeaux, Ubic Informatique - Judson Alves, Market Home Delivery - Eric Flaux, ABF Osiell - Gilles Dupont - Arnis Putniņš - Johnson Martt, GetOpenERP (Part of OpenStow Technologies) - Gianluca Milano - Daniel Stolovich, ATEL S.A. - Equitania Software GmbH - Senthilnathan G - Houssine Bakkali - Arend Trip - Kevin Woolf, Baba Kevin's American Barbecue Co., Ltd. - toodoo sàrl - Zoltan Gabor 'Apersis' - Tom De Decker, WEB2GO LTD - Nicolás Cavalier Montenegro, STOREGUD CORPORATION SAC - Keirse Jerome - REAL Solutions S.A. - Davide Corio - Brice Muangkhot - Melvin Miguel Martinez, Mendoza Hernandez - Auditores - Chua Wen Ching - Tran Minh Tri working, ungdungtinhoc.com - Badisheng Morena - Sogexis - Josh Wardini - The Tee Shirt Bakery - Bruce Letterle, Red Lab Media - Benoit Vankoningsloo - Francisco Manuel Garcia Claramonte. - Paulina Mikolajczak-Blasco - Collectiv - Tony Fernando - Herbert Riener, rigaConcepts - Kalmen Chia, E-Global SCM Solution Sdn Bhd - Rob North, Pair A Dice Games - David E. Vargas, CloudShop - François Le Gal - Calin Chete (24h Solutions) - Maria Gabriela Fong, MAGA Systems & Consulting - Pascal Behr, Cytosurge AG - Marc Antwertinger - Opencloud Unipessoal, Lda - Ruchir Shukla, BizzAppDev - Michael Hucke, Hucke Media GmbH & Co. KG - Mathias Neef, copadoMEDIA UG - Pablo Arias - Same Motion - livingprocess.de - Habib Ayob - Igor Jovanovic - Liangming Wang, Weixuan Inc. - Jason Au Yeung, Binary System Limited - Fredrik Arvas, Arvas International AB - Martin Temmink, Zigaret - Mathieu Vanneste, Flockdesign - Filip Fruru, Instant Media - Marianne Wilmsmeier, Fabrik Fünf GmbH - Vertex Group Enterprises - Bingen Eguzkitza - Herczeg Péter, InnOpen Group Kft  - Giles Hohnen - Luis Felipe Miléo, KMEE - Maria Gabriela Fong, MAGA Systems & Consulting - Aaron Magon, Web Industries - Andrew Trueman, B.M. Trueman & Partners - Sven Petersen, Conexus - Nous Cambas - Oliver Yuan, OpenStone - Henri Ibowili, A-YANT.COM - Nicolas JEUDY - Helmut Drewes - Maik Steinfeld, Streward - Hans Henrik Gabelgaard - AJ Rosman - Eduard - Patrick Darribet, SUDOKEYS - Camptocamp - Cyril Morisse - Alejandro Santana - Eva Pinter, YBO - Mathias Neef, copadoMEDIA UG - Jean-Christophe Perrot, LOGICASOFT - Zarshed Ali, HiTechnologia - Stefan Reisich - Maxime Chambreuil, Savoir-faire Linux - Mario Gielissen, Openworx - Nicholas Burdic, Aptoworks LLC - Olivier Lenoir
      </p>
    </div>
  </div>
</section>
