<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b> Print Dynamic Barcode Labels app for All(Products,Templates,Sale,Purchase,Picking) in Odoo </b>
			</h2>
			<p class="oe_slogan">
				This Odoo apps module helps to print all sort dynamic barcode labels from Products, Templates, Sales, Purchase and Pickings for printing barcode in Odoo.This Odoo apps helps to generate label according to company specification, every company has its own label size standard. Here with this help user can have option for customized label size template feature which is also configurable. Based on configuration of barcode label height and width barcode label allows to prints from Products Variants ,Product Templates,Sales Orders,Purchase Orders and Picking(Delivery Order and Shipment). Also it has most useful features to print multiple labels on single page as per the quantity allocated on Orders or on Print section wizard.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/POS-Supply-Barcode-Labels-Measurments-Guide.gif"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Dynamic Label Size. </b></h4>
					  <span class="oe_slogan"> You can enter size to print dynamic product label. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/output-onlinepngtools.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Multi Products Label. </b></h4>
						<span class="oe_slogan"> You can select multiple product to print multiple barcode in single click. </span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/a49-roll_1024x1024.jpg"/>
					</div>
					<div class="col-md-9">
					  <h4><b> Barcode label Quantity from Order Quantity. </b></h4>
					  <span class="oe_slogan"> Get barcode label quantity to print from order quantity, you may change quantity. </span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/40927.png"/>
					</div>
					<div class="col-md-9">
						<h4><b> Support Multi Barcode Type. </b></h4>
						<span class="oe_slogan"> Print multi barcode type(ex. EAN13, EAN8, Code128, QR) on barcode label that you want. </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Print Dynamic Barcode Labels app for All(Products,Templates,Sale,Purchase,Picking) in Odoo" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Email on Support" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/fAohqTucCX4" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Barcode Configurations </p>
			<p class="oe_slogan"> Under Inventory > Configuraion > Setting you can set Barcode Configuration. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="1_conf.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Barcode labels Menu </p>
			<p class="oe_slogan"> Under Action menu you can see " Barcode Product labels " on Product, Sale, Purchase, and Picking. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_print_option.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Product Barcode label Wizard</p>
            <p class="oe_slogan"> When you click on Barcode Product labels menu new wizard will open with default bracode quntity from order ouantity. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_print_lable_wizard.png">
			<p class="oe_slogan"> You can see printed barcode label of selected product. </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="4_lable_print.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Barcode label on Sale </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="5_sale_order.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="sale_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Barcode label on Purchase </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_purchse_order.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="purchase_report.png">
		</div>
	</div>
</section>


<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;"> Barcode label on Picking </p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_picking.png">
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="picking_report.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 3px;padding: 5px;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/barcode/">
					<img class="img img-responsive" src="related/barcode.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_print_serial_number/">
					<img class="img img-responsive" src="related/bi_print_serial_number.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_invoice_purchase_barcode/">
					<img class="img img-responsive" src="related/bi_sale_invoice_purchase_barcode.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/dynamic_condition_sale_order_double_validation/">
					<img class="img img-responsive" src="related/dynamic_condition_sale_order_double_validation.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_dynamic_product_label_print/">
					<img class="img img-responsive" src="related/bi_dynamic_product_label_print.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_product_dimension/">
					<img class="img img-responsive" src="related/bi_product_dimension.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 3px;padding: 5px;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_report/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Print Dynamic Barcode Labels app for All(Products,Templates,Sale,Purchase,Picking) in Odoo" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Print Dynamic Barcode Labels app for All(Products,Templates,Sale,Purchase,Picking) in Odoo" target="_blank"> Support Request </a>
		</div>
	</div>
</section>