
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
    	<div class="row">
	        <div class="sh_span12 col-12" style="padding: 40px">
	            <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: "Montserrat", sans-serif;>POS(Point Of Sale) Mobile Barcode/QRCode Scanner</b></center>
	            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
	            <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Do you want to scan POS(Point Of Sale) products by Barcode or QRCode on your mobile? Do your time-wasting in POS(Point Of Sale) operations by manual product selection? So here are the solutions these modules useful do quick operations of POS mobile Barcode or QRCode scanner. You no need to select the product and do one by one. scan it and you do! So be very quick in all operations of odoo in mobile and cheers!</p> 
	        </div> 
        </div>
    </div>   
</section>


<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
  <div class="container">
    <div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Benefits of mobile Barcode/QRCode scanner</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 <b>Handy Tool:</b> It's handy tools. mobile is very common now a days. everyone have mobile. user can easily use that device to scan Barcode or QRCode in mobile. user can easily use mobile camera and scan Barcode or QRCode so it will do all operations of odoo. 

      </p>


      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

<b>Time Savers:</b> User don't need to select products and all manually. manually its take more time in mobile devices as screen very small. our module will make this very easy as user just simply need to scan using mobile camera.

      </p>

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

<b>Fewer Mistakes:</b> Again, human error can be blamed on so many clerical errors, which in turn can cause problems in every facet of business. So using this it will make Fewer mistakes in operations.

      </p>

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

<b>Smoother Internal/External Operations:</b> Our module available in different operations of odoo like sales/purchase/inventory/accounting/manufacturing. so this makes all flows of operations smoother. 

      </p>

      
      </div>
        </div>
    </div>
    </div>
</section>







<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
  <div class="container">
    <div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Notes</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 For Android Tested in chrome & For iOS Tested in Safari Browser.
      </p>


      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

SSL required if you are on the cloud or using IP. As without SSL permission of camera not work. If you are running odoo on the localhost (http://localhost) then it's not required SSL.

      </p>

      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

  Tested in Android and iOS Operating System.
      </p>
      <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
Barcode Format Supported <b>UPC-E, EAN-8, EAN-13,Code 39,Code 93,Code 128. </b>
  
      </p>
       <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
QR Code Supported.
  
      </p>
        <p class="sh_mb32" align="center" style="color: #FF0000;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
              <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #FF0000;font-size: 1.4em;"></i>
Please ask us on sales@softhealer.com if any doubt.
  
      </p>
      
      </div>
        </div>
    </div>
    </div>
</section>



<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">

      <h2 align="center">
        <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;display: inline-block;" class="btn btn-success btn-lg" href="https://youtu.be/yTQ4GeVs6Ww" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? click here to watch video</a>
      </h2>
    

			</div>
        </div>
</section>



<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
	<div class="container">
		<div class="row">
    <div class="sh_spaced" style="width: 100%;">
        <div class="sh_span12 " style="padding: 0px 15px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
          

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 Easy to add products in POS(Point Of Sale) by Barcode or QRCode scanner using <b>mobile camera</b> or <b>webcam</b>.

			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
<i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

You can scan the Barcode and QR Codes using <b>mobile camera</b> or <b>webcam</b>.

</p>
    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 You can scan the Barcode and QR Codes both easily.

			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

  Easy to add products to lines using a mobile scanner.

			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

  It's a handy tool for the user to scan the product quickly using Barcode or QRCode.

			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
 No need for native apps for this. 

 

			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

  Less expensive than native apps.

			</p>
			<p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 Configurations Features, <br> <br>

 <b style="margin-left: 30px;">a) Product Scan Options:</b> <br> <br> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Internal Reference, Barcode, QRCode, All. <br> <br>

<b style="margin-left: 30px;">b) Continue Scanning: </b> <br> <br>
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;On(Yes):  User can scan products Barcode/QRCode continuously without stopping camera, this will be useful if you have bulk products to scan.
<br> 
&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Off(No): if you off this feature then you need to start scanning again on success. So basically you need tap start button on each scan.
<br> <br>
<b style="margin-left: 30px;">c) Notification on product succeed: </b> <br> <br>

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;On(Yes):  Scan products by Barcode/QRCode and if success then it gives notification. <br> 

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Off(No): Scan products by Barcode/QRCode and if success then it not gives notification. <br>

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Play sound on product succeed option available if you on Option-c "notification on product succeed" option. <br><br>

<b style="margin-left: 30px;">d) Notification on product failed: </b> <br> <br>

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;On(Yes):  Scan products by Barcode/QRCode and if fails then it gives notification. <br> 

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Off(No): Scan products by Barcode/QRCode and if fails then it does not give notification. <br> 

&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Play sound on product failed option available if you on Option-d "notification on product failed" option.

			</p>

			
	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 No special configuration required, install it, use it.

			</p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

 This module saves your important time.

			</p>

	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

Barcodes eliminate the possibility of human error.

			</p>


	    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

It reduces human efforts.

			</p>


      
			</div>
        </div>
    </div>
    </div>
</section>


<!-- version -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
	<div class="container">
    <div class="sh_spaced">
        <div class="sh_span12 " style="padding: 0px!important;">
            <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: "open="" sans="" sans-serif="">Version</b>
            </h2>
            <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
            <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;"> 


            	<i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>

            	v12.0.1  (20<sup>th</sup> March 2020)
            	

<ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
	            	<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
Initial Release
</li>

                </ul>

			</div>
			</div>
			</div>
        </div>
</section>

<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
In the point of sale settings whether you want to scan product by Barcode, Internal Reference, QR or All and select checkbox as per requirement.
</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
           <img class="img-responsive" src="1.png" style="width:100%;">
        </div>
    </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                             
Tap the "Start" button to scan products.

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
           <img class="img-responsive" src="2.png" style="width:100%;">
        </div>
    </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
                             
After the scan, it shows success message popup if the product scanned and added to the cart.
</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
           <img class="img-responsive" src="3.png" style="width:100%;">
        </div>
    </div>
</section>
<section class=" text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
              The error message is given if no matching product Barcode/QRCode found.               

</h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
           <img class="img-responsive" src="4.png" style="width:100%;">
        </div>
    </div>
</section>


<!--you may also like-->

<section class="oe_container oe_dark" style="background: #efefef00;">
    <div class="oe_row oe_spaced">
        <h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">You May <b style="font-weight: bold;font-family: " open="" sans",="" sans-serif;"=""> Also Like!</b></h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px; margin-bottom: 10px;">

        <div class="row">
            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_all_in_one_mbs/">
                    <img  src="mobile barcode.png" alt="All In One Mobile Barcode Scanner" style="width: 100%;">
                </a>
            </div>


            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/12.0/sh_event_barcode_mobile/">
                    <img  src="Event Mobile Barcode-QRCode Scanner.png" alt="Event Mobile Barcode-QRCode Scanner" style="width: 100%;">
                </a>
            </div>

            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_sale_barcode_mobile/">
                    <img  src="sale mobile barcode scanner.png" alt="Sales Mobile Barcode/QRCode Scanner" style="width: 100%;">
                </a>
            </div>

            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_bom_barcode_mobile/">
                    <img  src="BOM mobile barcode.png" alt="BOM Mobile Barcode/QRCode Scanner" style="width: 100%;">
                </a>
            </div>
            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_inventory_adjustment_barcode_mobile">
                    <img  src="stock adjustment scanner.png" alt="Stock Adjustment Mobile Barcode/QRCode Scanner" style="width: 100%;">
                </a>
            </div>
            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_purchase_barcode_mobile/">
                    <img  src="purchase mobile barcode scanner.png" alt="Purchase Mobile Barcode/QRCode Scanner" style="width: 100%;">
                </a>
            </div>
            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_inventory_barcode_mobile/">
                    <img  src="inventory.png" alt="Inventory Mobile Barcode/QRCode Scanner" style="width: 100%;">
                </a>
            </div>
            <div class="col-md-4" align="center" style="margin-top: 1rem;">
                <a href="https://apps.odoo.com/apps/modules/13.0/sh_ecommerce_barcode_mobile/">
                    <img  src="sh_ecommerce_barcode_mobile.png" alt="Ecommerce Mobile Barcode/QRCode Scanner" style="width: 100%;">
                </a>
            </div>
        </div> 
    </div>
</section>


<section class="o_bg_cover " style="background: #e9e9eb;padding: 1px 0em;margin-top: 1em;">
    <div class=" oe_spaced">
        <h2 class="display-3" style="color:#1578b9;text-align: center;font-size: 3.2rem;">Help &amp; <b style="font-weight: bold;font-family: " open="" sans="" sans-serif=""> Support</b></h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px; margin-bottom: 10px;">
        <p class="mb32" style="color:#342f33;font-family: sans-serif!important;    padding-top: 10px;margin-bottom: 0px!important" align="center">You will get free 90 days support and assistance in case of any issues</p>
        <br>
        <div class="text-center">
          <a href="mailto:info@softhealer.com" target="_blank" class="mt32 mb8 btn btn-primary o_btn_cta" style="padding: 10px 60px !important; width: 12em !important; margin-top: 0px !important; background: rgb(21, 120, 185) none repeat scroll 0% 0%; border: 1px solid rgb(21, 120, 185); position: relative; overflow: hidden;">Email</a>
         
        </div>
    </div>
</section>