<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;">
    <div class="container">
        <div class="row">
            <div class="sh_span12 col-12" style="padding: 40px">
                <center class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;line-height: 40px;"><b style="font-weight: bold;font-family: " Montserrat", sans-serif;>Product Multiple Barcode</b></center>
                <hr style="border: 1px solid #96969a;position:relative;width:40px;top:-10px;padding:0px;margin-bottom: 0px;">
                <p class="sh_description" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: center;">Mainly the use of this module, you can create multiple barcodes for each product. Also, you can search that product in product selection lines like in sale order, purchase order, invoices, bills, operation lines.</p>
            </div>
        </div>
    </div>
</section>
<!-- video -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
    <div class="container">
        <div class="sh_spaced">
            <h2 align="center">
                <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;padding: 1%;text-decoration: none;border-radius: 2px;" class="btn btn-success btn-lg" href="https://www.youtube.com/watch?v=0MTM8IybZAw&feature=youtu.be" target="_blank"><span class="o_ripple d-block position-absolute rounded-circle" style="height: 398px; width: 398px; top: -164px; left: -147.891px;"></span>How it works? Click here to watch video</a>
            </h2>
        </div>
    </div>
</section>
<!-- feature -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em; padding: 40px">
    <div class="container">
        <div class="row">
            <div class="sh_spaced" style="width: 100%;">
                <div class="sh_span12 " style="padding: 0px 15px!important;">
                    <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Features</b>
                    </h2>
                    <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom: 2em;">
                    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                        <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                     Easy to create multiple barcodes in the product.
                    </p>
                    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                        <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                        Easy to search product using multiple barcodes in sale order, purchase order, operation, invoices, bills lines.
                    </p>
                    <p class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;border-bottom: 1px solid #bbbbbb;">
                        <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                        Easy to install and use it, no more configuration required.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- version -->
<section class="sh_bg_cover" style="background:#e9e9eb;padding:1px 0em;margin-bottom: 2em;margin-top: 2em;padding: 40px;">
    <div class="container">
        <div class="sh_spaced">
            <div class="sh_span12 " style="padding: 0px!important;">
                <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;font-family: " open="" sans="" sans-serif="">Version</b>
                </h2>
                <hr style="border: 1px solid #96969a;position:relative;width:40px;top:0px;padding:0px;margin-bottom:15px;">
                <div class="sh_mb32" align="center" style="color:#342f33e0;font-family: sans-serif!important;padding-top: 10px;margin-bottom:0px !important;text-align: justify;padding: 7px 0px;font-weight: 600;margin:0px;">
                                        <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
v12.0.5 (9<sup>th</sup> June 2021)
<ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right" style="color: #1678b9;"></i><span class="badge badge-warning" style="background: #FF9800;
padding: 5px 10px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Update</span> Compatible with Product Template and Variant Both.
</li>
</ul> 
                    <i class="fa fa-hand-o-right"  style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
               v12.0.4 (30<sup>th</sup> December 2020)
               <ul class="list-unstyled" style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                  <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right"  style="color: #1678b9;"></i>
                   <span class="badge badge-info" style="background: #2196F3;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">Fixed</span> Minor Bug Fixed.
                  </li>
               </ul>
                                  <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
v12.0.3 (12<sup>th</sup> December 2020)
<ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right" style="color: #1678b9;"></i>
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Add configuration to check duplication of the barcode in the product.
</li>
<li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right" style="color: #1678b9;"></i>
<span class="badge badge-success" style="background-color: #43A047 !important;
padding: 5px 17px;
border-radius: 3px;
color: #fff;
font-size: 9px;
text-transform: uppercase;
font-weight: bold;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);">New</span> Put multi barcode field in search view.
</li>
</ul>    
                  <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                    v12.0.2 (31<sup>st</sup> August 2020)
                    <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                        <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right" style="color: #1678b9;"></i>
                            Small Bug Fixed.
                        </li>
                    </ul>
                    <i class="fa fa-hand-o-right" style="margin-right: 1em;color: #1678b9;font-size: 1.4em;"></i>
                    v12.0.1 (9<sup>th</sup> January 2020)
                    <ul style="list-style-type: square;padding-left: 3em;border-bottom: 1px solid #bbbbbb;margin-bottom: 10px;padding-bottom: 10px;padding-top: 10px;">
                        <li style="list-style:none;font-weight: normal;"><i class="fa fa-caret-right" style="color: #1678b9;"></i>
                            Initial Relase
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
 <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 12.0.5</b>
                </h2>
                <section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
             The multi-barcode tab looks like this.
        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img  class="img-responsive"  src="ss.png" style="width:100%;">
        </div>
    </div>
</section>

 

 <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 12.0.3</b>
                </h2>
                <section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
            Tick "Is Multi Barcode Unique?" to check barcode duplication in the product.
        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img  class="img-responsive"  src="s1.png" style="width:100%;">
        </div>
    </div>
</section>

 <section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
            You can search multi barcodes in the search view.
        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img  class="img-responsive"  src="s2.png" style="width:100%;">
        </div>
    </div>
</section>

 <section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
           Multi barcodes searched result.
        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
            <img  class="img-responsive"  src="s3.png" style="width:100%;">
        </div>
    </div>
</section>

                   <h2 class="sh_display" style="color:#1578b9;text-align: center;font-size: 2em;margin-top: 0px;"><b style="font-weight: bold;">v 12.0.1</b>
                </h2>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
            In the product 'Barcode' tab where you can see the multiple barcodes for the product 'Product 1'. 
        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
           <img class="img-responsive" src="1.png" style="width:100%;">
        </div>
    </div>
</section>
<section class="text-center oe_container" style="padding: 20px 0;margin: 20px 0;">
    <div class="oe_spaced" style="margin: 0;">
        <h2 class="display-3 fw_extralight mb0" style="font-size: 20px;font-weight: 400;color: #1578b9;">
            Search product in order lines using barcode.
        </h2>
        <hr style="border: 1px solid #96969a;position: relative; width: 40px;top: -10px;padding: 0px;margin-bottom: 0px;">
        <div style="margin:5px auto;">
           <img class="img-responsive" src="2.png" style="width:100%;">
        </div>
    </div>
</section>
<!--you may also like-->
<section id="sh_like_module" style="margin: 50px 0;">
        <div class="container">
            <div class="sh_center text-center">
                <h4 style="font-size: 30px;font-weight: 600;color: #212121;margin-bottom: 20px;">You May Also Like</h4>
                <hr style="width: 100px;border-width: 2px;border-color: #1976d2;" />
            </div>

            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_catalog_generator/">    
                                <img src="sh_product_catalog_generator.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_custom_fields/">   
                                <img src="sh_product_custom_fields.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_discount/">
                                <img src="sh_product_discount.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_img_url/">    
                                <img src="sh_product_img_url.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_imp_info/">   
                                <img src="sh_product_imp_info.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_invoice_details/">
                                <img src="sh_product_invoice_details.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_label/">    
                                <img src="sh_product_label.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_brand_website/">   
                                <img src="sh_product_brand_website.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_qrcode_generator/">
                                <img src="sh_product_qrcode_generator.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 1rem;">
                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_search_dynamic/">    
                                <img src="sh_product_search_dynamic.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_search_snippet/">   
                                <img src="sh_product_search_snippet.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sh_content" style="text-align: center;border: 1px solid #aaa;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);">
                        <div class="sh_img" style="padding: 10px;border-bottom: 1px solid #aaa;">
                            <a href="https://apps.odoo.com/apps/modules/12.0/sh_product_social_sharing/">
                                <img src="sh_product_social_sharing.png" style="width: 100%;object-fit: contain;"></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>

    <section class="oe_container oe_dark">
     <div class="oe_row oe_spaced">
      <h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
      <h3 class="oe_slogan">You will get free 90 days support and assistance in case of any issues</h3>
      <br/>
      <div class="text-center"> 
       <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); padding: 10px 60px; position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:support@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="support[at]softhealer.com">Email</span></a>
   </div>
</div>
</section>  