
<section id="theme_graphene_description" class="container">
  <div class="text-center mb64">

    <!-- <img src="main_logo.png" class="img-fluid d-block mx-auto"/> -->
    <p class="lead slim">Graphene is a professional responsive HTML5 theme that puts the <br/>full power of all Nova-Mis's technologies at your fingertips<br/><br>
    We open up everything to you.</p>

    <p>This theme has an <a href="https://apps.nova-mis.com/apps/10.0/theme_graphene_blog/">additional blog plugin</a>.</p>

  </div>

  <div class="row text-center mb64">
    <div class="col-lg-3 col-md-6 mb32">
      <img  src="media/gift.jpg" alt=""/>
      <h4>Fully-equipped</h4><hr>
      <p>HTML5 videos, pure CSS3 Animation, Retina images support... Everyting is out of the box.</p>
    </div>

    <div class="col-lg-3 col-md-6 mb32">
      <img  src="media/custom.jpg" alt=""/>
      <h4>Flexible</h4><hr>
      <p>Limitless combination. Use the provided styles or start from scratch, Graphene will take care of everything</p>
    </div>

    <div class="col-lg-3 col-md-6 mb32">
      <img  src="media/mobile.jpg" alt=""/>
      <h4>Mobile friendly</h4><hr>
      <p>Media queries are managed for you. Graphene work beautifully on desktop and mobile devices.</p>
    </div>

    <div class="col-lg-3 col-md-6 mb32">
      <img  src="media/browsers.jpg" alt=""/>
      <h4>Cross-browser</h4><hr>
      <p>Works on all modern browsers and degrades gracefully on the old ones.</p>
    </div>
  </div>

  <div class="row text-center mt64 mb64">
    <h2>Main Features</h2>
    <!-- <p class="slim">Graphene comes several customization tools, so you can have ultimate control over your designs without write one line of code.</p> -->
  </div>

  <img class="img-fluid " src="media/anima_editor.png" alt="" />

  <hr class="mb32 mt32 light" />

  <img class="img-fluid" src="media/move_top.jpg" alt="" />

  <hr class="mb32 mt32 light" />

  <p>With Website Blog installed :</p>
  <img class="img-fluid" src="media/latest_posts.jpg" alt="" />

  <hr class="mb32 mt32 light" />

  <img class="img-fluid" src="media/typo.jpg" alt="" />

  <hr class="mb64 mt64">

  <div class="row text-center mt32 mb64">
    <h2 class="text-muted">Main options</h2>

    <p class="slim">Graphene comes several customization tools, so you can have ultimate control over your designs without write one line of code.</p>
  </div>

  <div class="row text-center">
    <div class="col-lg-4">
      <h4 class="text-muted">Comprehensive layout options</h4><hr>
      <img class="img-fluid" src="media/layout.jpg" alt=""/>
    </div>

    <div class="col-lg-4">
      <h4 class="text-muted">Colors that work together</h4> <hr>
      <img class="img-fluid" src="media/palette.jpg" alt=""/>
    </div>

    <div class="col-lg-4">
      <h4 class="text-muted">Simple perfect fonts combinations</h4> <hr>
      <img class="img-fluid" src="media/fonts.jpg" alt=""/>
    </div>

  </div>

  <hr class="mb64" />

  <div class="row tech mt64 mb64 text-center">
    <div class="col-4">
      <img class="img-fluid d-block mx-auto" src="HTML5.png" alt="" style="height:100px"/>
    </div>
    <div class="col-4 mt16">
      <img class="img-fluid d-block mx-auto" src="less.png" alt=""/>
    </div>
    <div class="col-4">
      <img class="img-fluid d-block mx-auto" src="CSS3.png" alt="" style="height:100px"/>
    </div>
  </div>

  <hr class="mb64" />

  <div class="row text-center mb32">
    <h2 class="text-muted">Powerful snippets</h2>
    <p class="slim">Graphene comes several customization tools, so you can have ultimate control over your designs without write one line of code.</p>
  </div>

  <img class="img-fluid" src="media/maps.jpg" alt="" />

  <hr class="mb64" />

  <img class="img-fluid" src="media/video.jpg" alt="" />
  <p class="slim">Some fonts might not work with extended charsets.</p>
  <p class="slim mb64">The images in the theme are copyrighted and can't be used outside of the nova-mis.com domain.</p>

  <hr class="mb64" />

  <div class="row text-center mb32">
    <h2 class="text-muted">Contributors list</h2>
    <p class="slim">This theme has been created with the help of our user community.</p>
  </div>

  <h3 class="text-center">CONTRIBUTORS LIST</h3>
  <br/>
  <p class="strong text-center">This theme has benn created with the help of our user community.</p>
  <h3 class="text-center">Thanks to our backers, the Indiegogo campaign was a success!</h3>
  <p class="text-center"><a>https://www.indiegogo.com/projects/bootstrap-themes-for-odoo-cms/</a></p>
  <br/>

  <div class="text-center">
    <h2 class="text-center sponsors">Main Sponsor</h2>
    <div class="row">
      <div class="col-lg-2">
        <a href="http://www.aselcis.com/" target="blank">
          <img src="contributors/aselcis.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.bas-solutions.nl/" target="blank">
          <img src="contributors/bas-solutions.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.bloopark.de/" target="blank">
          <img src="contributors/bloopark.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.brouwland.com" target="blank">
          <img src="contributors/brouwland.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.catsanddogs.com/" target="blank">
          <img src="contributors/catsdogs.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="https://www.hucke-media.de/" target="blank">
          <img src="contributors/huckemedia.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-2">
        <a href="http://www.datadialog.net/" target="blank">
          <img src="contributors/dialognet.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.dynapps.be/" target="blank">
          <img src="contributors/dynapps.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://opusvl.com/" target="blank">
          <img src="contributors/opusvl.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://oxenworkwear.com/" target="blank">
          <img src="contributors/oxen.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.simplit.co/" target="blank">
          <img src="contributors/simplitco.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.sodexis.com/" target="blank">
          <img src="contributors/sodexis.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-2 offset-lg-3">
        <a href="https://www.techreceptives.com" target="blank">
          <img src="contributors/tech-receptives.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="http://www.applicatour.com/" target="blank">
          <img src="contributors/applicatour.jpg" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
      <div class="col-lg-2">
        <a href="https://vauxoo.com" target="blank">
          <img src="contributors/vauxoo.png" class="img-fluid d-block mx-auto"/>
        </a>
      </div>
    </div>

    <small>
      Ross Whiting, Oxenworkwear - Hans Balis - Stephan Keller, Sodexis, Inc. - Michael Hucke, Hucke Media GmbH &#38; Co. KG - Joachim Grubelnik, DaDi EDV GmbH​ datadialog.net - DynApps - Cats&#38;Dogs bvba - Bloopark systems GmbH &#38; Co. KG - Parthiv Patel, Tech Receptives Solutions Pvt. Ltd. - Stuart Mackintosh, OpusVL - Erwin van der Ploeg, BAS Solutions - ali Zuaby, simplit co - Aselcis Consulting - Nhomar Hernandez, Vauxoo
    </small>

    <h2 class="text-center sponsors">Sponsor</h2>
    <small>
      Robert Baumgartner, datenpol gmbh - openBIG - Russell Phillippe, Protogenos Ltd - Julien Allo, Julius - EasyPME - Jonathan Wilson, WillowIT Pty Ltd - Xavier Mallein, MAallein - Pedro M. Baeza, Serv. Tecnol. Avanzados - Daniel Dico, OERP Canada - Jantz Business Group b.v. - LogicaSoft Consulting - Eric Caudal, Elico Corp - Ermin Trevisan, Twanda - Jean-Fran&#231;ois Mattler, OpenFid SAS - Alex Ferrer, Lannex IT Solutions - Tony Gu, Shine IT Co. Ltd. 先安科技 - TaPo-IT OG - Jos De Graeve, Apertoso - Nicolas Rigo, eezee-it - Luis Miguel Var&#195;&#179;n E, Colorisa S.A - OpenBias - Stanislas Drouin Applicatour
    </small>

    <h2 class="text-center sponsors">Power Designer</h2>
    <small>
      Rohit Thakral - Fran&ccedil;ois Dhommeaux, Ubic Informatique - Judson Alves, Market Home Delivery - Eric Flaux, ABF Osiell - Gilles Dupont - Arnis Putni&#326;&#353; - Johnson Martt, GetOpenERP (Part of OpenStow Technologies) - Gianluca Milano - Daniel Stolovich, ATEL S.A. - Equitania Software GmbH - Senthilnathan G - Houssine Bakkali - Arend Trip - Kevin Woolf, Baba Kevin's American Barbecue Co., Ltd. - toodoo s&#224;rl - Zoltan Gabor &#39;Apersis&#39; - Tom De Decker, WEB2GO LTD - Nicolás Cavalier Montenegro, STOREGUD CORPORATION SAC - Keirse Jerome - REAL Solutions S.A. - Davide Corio - Brice Muangkhot - Melvin Miguel Martinez, Mendoza Hernandez - Auditores - Chua Wen Ching - Tran Minh Tri working, ungdungtinhoc.com - Badisheng Morena - Sogexis - Josh Wardini - The Tee Shirt Bakery - Bruce Letterle, Red Lab Media - Benoit Vankoningsloo - Francisco Manuel Garcia Claramonte. - Paulina Mikolajczak-Blasco - Collectiv - Tony Fernando - Herbert Riener, rigaConcepts - Kalmen Chia, E-Global SCM Solution Sdn Bhd - Rob North, Pair A Dice Games - David E. Vargas, CloudShop - Fran&ccedil;ois Le Gal - Calin Chete (24h Solutions) - Maria Gabriela Fong, MAGA Systems &#38; Consulting - Pascal Behr, Cytosurge AG - Marc Antwertinger - Opencloud Unipessoal, Lda - Ruchir Shukla, BizzAppDev - Michael Hucke, Hucke Media GmbH &#38; Co. KG - Mathias Neef, copadoMEDIA UG - Pablo Arias - Same Motion - livingprocess.de - Habib Ayob - Igor Jovanovic - Liangming Wang, Weixuan Inc. - Jason Au Yeung, Binary System Limited - Fredrik Arvas, Arvas International AB - Martin Temmink, Zigaret - Mathieu Vanneste, Flockdesign - Filip Fruru, Instant Media - Marianne Wilmsmeier, Fabrik F&#252;nf GmbH - Vertex Group Enterprises - Bingen Eguzkitza - Herczeg P&#233;ter, InnOpen Group Kft  - Giles Hohnen - Luis Felipe Mil&#233;o, KMEE - Maria Gabriela Fong, MAGA Systems &#38; Consulting - Aaron Magon, Web Industries - Andrew Trueman, B.M. Trueman &#38; Partners - Sven Petersen, Conexus - Nous Cambas - Oliver Yuan, OpenStone - Henri Ibowili, A-YANT.COM - Nicolas JEUDY - Helmut Drewes - Maik Steinfeld, Streward - Hans Henrik Gabelgaard - AJ Rosman - Eduard - Patrick Darribet, SUDOKEYS - Camptocamp - Cyril Morisse - Alejandro Santana - Eva Pinter, YBO - Mathias Neef, copadoMEDIA UG - Jean-Christophe Perrot, LOGICASOFT - Zarshed Ali, HiTechnologia - Stefan Reisich - Maxime Chambreuil, Savoir-faire Linux - Mario Gielissen, Openworx - Nicholas Burdic, Aptoworks LLC - Olivier Lenoir
    </small>
  </div>
</section>

<style>
  #theme_graphene_description{
    padding-top: 40px;
    /*font-family: "lato", lato, sans-serif;*/
    font-size: 1.4rem;
    overflow-x: hidden;
  }

  #theme_graphene_description img{
    pointer-events: none;
  }

  #theme_graphene_description h1{
    font-weight: 100;
    font-size: 100px;
    font-size: 8vw;
    display: inline-block;
    border-bottom: 2px solid #7B7B7B;
    margin-bottom: .31em;
  }
  #theme_graphene_description p.slim{
    max-width: 600px;
    position: relative;
    display: block;
    margin: 1em auto;
  }
  #theme_graphene_description h2:not(.sponsors){
    color: #535353;
    font-size: 3em;
    font-weight: 500;
    font-weight: 500;
    letter-spacing: -2px;
    word-spacing: -4px;
  }

  #theme_graphene_description h2.sponsors {
    margin-top: 84px;
    margin-bottom: 20px;
  }

  #theme_graphene_description .tech .img-fluid {
    max-height: 75px;
    text-align: center;
    margin: 0 auto;
    max-width: 150px;
  }

  hr.light{

  }

  .mt16{
    margin-top: 16px;
  }

  .mt64{
    margin-top: 64px;
  }

  .mb16{
    margin-bottom: 16px;
  }

  .mb64{
    margin-bottom: 64px;
  }

  .mb32{
    margin-bottom: 32px;
  }

</style>
