<section class="oe_container lead mt64">
	<div>
		<div class="col-md-12 mt16" style="padding:0;">
			<div class="col-md-12" style="padding:0;">
				<div class="panel-group mb0 mt0" role="tablist" id="priceAccordeon" style="padding:0;">
					<div class="panel-heading mb0 mt0 collapsed" role="tab" data-toggle="collapse" data-parent="#priceAccordeon" data-target="#priceAccordeon_area" aria-expanded="false" style="margin-left:0;padding:0 0 2px 0;text-align:right;">
						<strong>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;">
									Supported :
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Enterprise version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Enterprise
								</strong>
							</div>
							<div style="background-color:#875A7B;padding:5px;margin-top:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool is compatible with the Odoo Community version">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Community
								</strong>
							</div>
							<div style="background-color:#875A7B;color:white;padding:5px;margin-bottom:3px;text-align:center;border-radius:5px;white-space:nowrap;display: inline-block;">
								<strong style="color:white;" title="The tool might be installed to Odoo.sh if you have a linked private git repository">
									<i class="fa fa-check" style="margin-left:4px;"> </i>
									Odoo.sh
								</strong>
							</div>
						</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="oe_container lead bi_title_box">
	<div >
		<div >
			<h2 class="oe_slogan bi_title" style="color:#5082c4;">
				<b>Odoo Product Low Stock Alert Notification Odoo Apps</b>
			</h2>
			<p class="oe_slogan">
				In Odoo warehouse management this Product Low Stock Notification Odoo apps is useful to give the user update of product's on hand quantity or forecast quantity via mail. Odoo User can get list of products with their current quantity and their required quantity in stock inventory as alert in email minimum stock Reminder.Easily define low stock level global for all products or individual product. On basis of type of mode either global or forecast it will generate email if any product low stock Reminder Notify for product inventory in warehouse app in Odoo ERP.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead bi_features">
	<div >
		<div>
			<h3 class="oe_slogan" style="opacity:1;background: linear-gradient(to right, #86bcf2 0%, #e2f2f8 100%);padding: 10px 0px;color: ##201111;letter-spacing: 0.2em;text-transform: uppercase;text-shadow: 0.1em .04em 0.1em #7d8c88;"><b>Features</b></h3>
		</div>
		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/Email-Notification.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Low Stock Notification/Remainder.</b></h4>
					  <span class="oe_slogan">USer will get low stock product notification remainder by email.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/user_boss_person_favorite_email_mail.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Send email to Configured User with Attachment.</b></h4>
						<span class="oe_slogan">Only configured user will get low stock product notification with attachment.</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/img_568295.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Set Product Minimum Quantity.</b></h4>
					  <span class="oe_slogan">User can set minimum stock quantity for product.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/img_568298.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Set Product Variant Minimum Quantity.</b></h4>
						<span class="oe_slogan">User can also set minimum stock quantity for product variant.</span>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/global.png"/>
					</div>
					<div class="col-md-9">
					  <h4><b>Notification for Global, Individual or Reorder Rule based Product.</b></h4>
					  <span class="oe_slogan">User can send notification as global for all the products,  individual for every product or based on reordering rules.</span>
					</div>
				</div>
			</div>
			<div class="col" style="margin: 10px;">
				<div class="row">
					<div class="col-md-3 text-center">
						<img class="img img-responsive" style="max-width:100%;" src="features/individual.png"/>
					</div>
					<div class="col-md-9">
						<h4><b>Notification for On Hand or Forecast Quantity.</b></h4>
						<span class="oe_slogan">User will notify based on on hand or forecast quantity of product.</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="oe_container lead mt64">
	<div >
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8 mr8" title="Demo Request" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Odoo Product Low Stock Alert Notification Odoo Apps" target="_top"> Demo Request </a>
			<a class="btn mt8 ml8" title="Video Tutorial" style="background-color: #2875aa;color: #FFFFFF !important;font-size: 20px;font-weight: bold;border-radius: 7px;" href="https://youtu.be/Zphh2zyzluY" target="_blank"> Video Tutorial</a>
		</div>
	</div>
</section>

<section class="oe_container lead">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 text-center">
            <p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Company Configuration</p>
            <p class="oe_slogan">Under Settings > User & Companies > Companies menu user have enable "Low Stock Notification?".</p>
            <img class="img-border img-responsive thumbnail mt16 mb16" style="border: 3px solid black;" src="1_company_config.png"/>
        </div>
    </div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Notify User</p>
			<p class="oe_slogan">To get low stock product notification user have to enable "Notify User" under user preferences.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="2_notify_user.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Global Product Stock Notification Configuration</p>
			<p class="oe_slogan">To get notification for global product on hand or forcast minimum quantity user have to select "Min Quantity Based On - Global for all product" and "Apply On - Product".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="3_global_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Additional Features </p>
			<p class="oe_slogan">User can set cron for email sending function.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="14_cron.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Low Stock Notification Email</p>
			<p class="oe_slogan">User can see product minimum quantity low stock notification email remainder to notify user.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="4_global_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Low Stock Notification Email Attachment</p>
			<p class="oe_slogan">User can see product variant minimum quantity low stock report attached with email.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="5_global_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Individual Product Stock Notification Configuration</p>
			<p class="oe_slogan">To get notification for global product on hand or forcast minimum quantity user have to select "Min Quantity Based On - Global for all product" and "Apply On - Product".</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="6_individual_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Set Product Min Quantity</p>
			<p class="oe_slogan">On product form view user have to set minimum quantity for specific product.</p>
			<img class="img-border img-responsive thumbnail mb16" style="border: 3px solid black;" src="7_individule_qty.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Low Stock Notification Email</p>
			<p class="oe_slogan">User can see product minimum quantity low stock notification email remainder to notify user.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="8_individual_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Low Stock Notification Email Attachment</p>
			<p class="oe_slogan">User can see product minimum quantity low stock report attached with email.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="9_individual_report.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Reorder Rules Product Stock Notification Configuration</p>
			<p class="oe_slogan">To get notification for product on hand or forcast minimum quantity based on reorder rules user have to select "Min Quantity Based On - Reorder Rules" and "Apply On - Product".</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="10_rule_config.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Reordering Rules</p>
			<p class="oe_slogan">User have create reordering rules for product and set "Minimum Quantity" for product.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="11_reorder_rules.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Low Stock Notification Email</p>
			<p class="oe_slogan">User can see product minimum quantity low stock report attached with email.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="12_rule_mail.png">
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div>
		<div>
			<p class="oe_slogan" style="color: #49a3fe;font-size: 35px;font-style: italic;font-weight:bolder;">Low Stock Notification Email Attachment</p>
			<p class="oe_slogan">User can see product minimum quantity low stock report attached with email.</p>
			<img class="img-border img-responsive thumbnail mb16 center-block" style="border: 3px solid black;" src="13_rule_report.png">
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Apps May You Like</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_picking_move_from_invoice/">
					<img class="img img-responsive" src="related/bi_picking_in.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generate_product_ean13/">
					<img class="img img-responsive" src="related/3.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/stock_by_location/">
					<img class="img img-responsive" src="related/1.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_sale_stock_check/">
					<img class="img img-responsive" src="related/stock_level.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/stock_reservation/">
					<img class="img img-responsive" src="related/stock_reserve.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/barcode/">
					<img class="img img-responsive" src="related/2.png" style="width: 100%;"/>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="oe_container oe_dark" style="min-width: 110%;margin-left: -5%;">
	<div>
		<div class="row">
			<div class="col-sm-4" style="margin: auto;">
				<p class="oe_slogan" style="font-size: 35px;color: #5082c4;font-style: italic;font-weight: bold;">Most Demanded Apps</p>
			</div>
		</div>
		<div class="row col-sm-12" style="margin-left: 1%;padding: 1% 8%;">
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/pos_orders_all/">
					<img class="img img-responsive" src="demanded/all_in_one_pos.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_customer_overdue_statement/">
					<img class="img img-responsive" src="demanded/customer_overdue.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/generic_excel_report/">
					<img class="img img-responsive" src="demanded/generic_excel_report.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/sales_commission_generic/">
					<img class="img img-responsive" src="demanded/sale_commision.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/bi_generic_import/">
					<img class="img img-responsive" src="demanded/bi_generic_import.png" style="width: 100%;"/>
				</a>
			</div>
			<div class="col-sm-4" style="padding: 5px;padding-right: 10px;">
				<a href="https://apps.odoo.com/apps/modules/12.0/branch/">
					<img class="img img-responsive" src="demanded/branch.png" style="width: 100%;"/>
				</a>
			</div>
		</div>	
	</div>
</section>

<section class="oe_container">
	<div >
		<div >
			<h2 class="oe_slogan">Free Support</h2>
			<h3 class="oe_slogan" style="font-size: 21px; color: #000000 !important;">You will get 90 Days free support incase any bugs or issue (Except data recovery).</h3>
			<p class="oe_slogan" style="font-size: 18px; ">
		At BrowseInfo we offer  end to end solution for Odoo services. Which includes analysis &amp; consultation on the workflows and integration part.  Please note that You're not allowed to distribute this module after purchase! Incase of any question regarding this module feel free to email us on <a href="mailto:ticket@browseinfo.in">ticket@browseinfo.in</a> or raise a ticket on support.
			</p>
		</div>
	</div>
</section>

<section class="oe_container lead">
	<div >
		<div >
			<div class="img img-responsive text-center">
				<a href="http://www.browseinfo.in" target="new" style="display: grid;">
					<img src="bi_logo.png" style="margin: auto;max-width: 350px;">
				</a>
			</div>
		</div>
		<div class="oe_slogan oe_spaced text-center">
			<a class="btn mt8" title="Query and Demo" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:sales@browseinfo.in?Subject=Demo Request for Odoo Product Low Stock Alert Notification Odoo Apps" target="_blank"> Query and Demo </a>
			<a class="btn mt8" title="Email on Support" style="background-color: #3497db;color: #FFFFFF !important;font-size: 20px;font-weight: bold;" href="mailto:ticket@browseinfo.in?Subject=Support Request for Odoo Product Low Stock Alert Notification Odoo Apps" target="_blank"> Support Request </a>
		</div>
	</div>
</section>
