<section class="oe_container oe_dark">
    <div class="col-md-12">
        <h2 class="oe_slogan" style="font-size: 35px;color:#2C0091"><b>Novaris 12 Asset Management</b></h2>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div style="text-align:center;">
            <p class="fa fa-hand-o-right" style="color:CRIMSON;font-size: 25px;">
                <span style="color:#2dd280;font-size: 15px;">Manage assets owned by a company or a person.</span>
            </p><br/>
            <p class="fa fa-hand-o-right" style="color:CRIMSON;font-size: 25px;">
                <span style="color:#2dd280;font-size: 15px;">Keeps track of depreciation's, and creates corresponding journal entries</span>
            </p><br/>

        </div>
        <br/>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_centeralign oe_websiteonly">
            <h4 class="oe_slogan"><a href="https://www.youtube.com/watch?v=KudvDOTvx2I" target="_blank" style="color: #FFFFFF !important; border-radius: 0; background-color: #9c676e; border-color: #005ca7; padding: 15px; font-weight: bold;">
               <i class="fa fa-youtube"></i>
                Watch on YouTube
            </a></h4>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#332c3c;font-size: 28px;">Asset Types</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="asset_types.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan" style="color:#332c3c;font-size: 28px;">Assets</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="assets.png">
        </div>
    </div>
</section>



<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<section class="oe_container oe_dark">
    <div class="oe_row ">
        <div class="oe_slogan text-center">
            <img src="odoo_mates.png"/>
            <div style="color:#269900;">
                <h3 style="color:#2C0091;font-size: 25px;">If you need any help or want more features, just contact us:</h3><br>
                <h3 style="color:#2C0091;font-size: 20px;">Email: <a href="odoomates@gmail.com">odoomates@gmail.com</a> <br></h3>
            </div>
            <div class="oe_slogan">
               <h2>
                    <a target="_blank" href="https://www.facebook.com/odoomate/" target="new">
                        <i class="fa fa-facebook-square" style="font-size:38px;"></i>
                    </a>
                    <a target="_blank" href="https://twitter.com/odoomates/" target="new">
                        <i class="fa fa-twitter" style="font-size:38px;"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin" style="font-size:38px;"></i>
                    </a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCVKlUZP7HAhdQgs-9iTJklQ">
                        <i class="fa fa-youtube-play" style="font-size:38px;"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</section>
<hr style="width: 100%;height: 4px;background: #148963;margin: 0px 0px;">
<hr style="width: 100%;height: 4px;background: #2C0091;margin: 0px 0px;">
    