<section class="container">
    <h2 class="text-muted">Html5 Responsive Bootstrap Theme for Novaris CMS</h2>
    <hr>

    <p>Orchid is a professional responsive HTML5 theme, built using Bootstrap3,
    the most popular front-end framework for developing responsive, mobile
    first projects on the web. Just drag &amp; drop the new building blocks
    you need to easily build your layout. All layouts are made of sections,
    that you can easily combine to fit your specific project.</p>
    <img src="orchid_description.png" class="img-fluid d-block mx-auto"/>
    <hr/>

    <h2 class="text-muted">Orchid Customization Tool</h2>
    <p>Theme Orchid comes with customization tools.&nbsp;You can easily change
        the background, the colors and the font combination of your website or
        you a preset.</p>

    <div class="row">
        <div class="col-lg-4">
            <img src="customtool.jpg" class="img-fluid d-block mx-auto"/>
        </div>
        <div class="col-lg-8">
            <h3>Theme Orchid comes with a lot of options</h3>
            <ul>
                <li>WIDE OR BOXED LAYOUT</li>
                <li>6 COLOR SCHEMES</li>
                <li>8 BACKGROUND SHADES OR USE YOUR OWN</li>
                <li>6 FONT COMBINATIONS</li>
                <li>10 BACKGROUND PATTERNS</li>
            </ul>
            <p>All the background, color and font combinations were made to work together.&nbsp;
            You&nbsp;can not go wrong with the settings.</p>

            <h3>Minimalistic Flat Design</h3>
            <p>Orchid was made with easy customization and branding in mind. Based on
            simple, modern and typographical elements, it allows you to easily customize
            your website.</p>

            <h3>6 Prebuild Presets</h3>
            <p>You don't have the time to play with options? Don't worry, Orchid gives
            you six full presets wich combine colors, fonts and background.</p>

            <p>This theme has an <a href="https://apps.nova-mis.com/apps/10.0/theme_orchid_sale/">additional eCommerce plugin</a>.</p>
        </div>
    </div>
    <hr>

    <h2 class="text-muted">Orchid Building Blocks</h2>

    <p>You get a new complete range of building blocks.</p>

    <div class="row">
        <div class="col-lg-6">
            <h4 class="text-muted mb16">STRUCTURE BLOCKS</h4>
            <ul class="mb16">
                <li>Custom Banner</li>
                <li>Big Picture + Text</li>
                <li>Text + Big Picture</li>
                <li>Cubes</li>
                <li>Cubes Reversed</li>
                <li>Features Slideshow</li>
                <li>Header + Text + Picture</li>
                <li>Product List</li>
                <li>Text + Image + Text</li>
                <li>Parallax Banner</li>
                <li>2 Color Blocks</li>
                <li>4 Color Blocks</li>
                <li>Numbers</li>
                <li>Timeline</li>
                <li>Event List</li>
                <li>Logos Bar</li>
                <li>Testimonial Slider</li>
                <li>Progress</li>
                <li>Big Circle Icons</li>
            </ul>
            <h4 class="text-muted">EFFECT BLOCKS</h4>
            <ul class="mb16">
                <li>Big Image Parallax</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h3>Customize Your Blocks</h3>
            <p class="mb16">Each building blocks comes with its own options.&nbsp;</p>
            <img src="customtool2.jpg" class="img-fluid d-block mx-auto"><br>
            <h4 class="text-muted">CONTENT BLOCKS</h4>
            <ul class="mb16">
                <li>Title</li>
                <li>1 Column Text</li>
                <li>2 Column Text</li>
                <li>3 Column Text</li>
                <li>4 Column Text</li>
                <li>Custom Button</li>
                <li>Separator Block</li>
            </ul>
            <h4 class="text-muted">FEATURES BLOCKS</h4>
            <ul class="mb16">
                <li>Slide Banner</li>
                <li>Slideshow with products</li>
            </ul>
        </div>
    </div>

    <p>Some fonts might not work with extended charsets.</p>
    <p>The images in the theme are copyrighted and can't be used outside of the nova-mis.com domain.</p>
    <hr>

    <h1 class="text-center">CONTRIBUTORS LIST</h1>
    <br/>

    <p class="strong text-center">This theme was created with the help of our user community.</p>

    <h3 class="text-center">Thanks to our backers the Indiegogo campaign was a success!</h3>

    <p class="text-center"><a>https://www.indiegogo.com/projects/bootstrap-themes-for-odoo-cms/</a></p>
    <br/>

    <h1 class="text-center"><u>Main Sponsor</u></h1>
    <br/>

    <div class="row">
        <div class="col-lg-2">
            <a href="http://www.aselcis.com/" target="blank">
                <img src="contributors/aselcis.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.bas-solutions.nl/" target="blank">
                <img src="contributors/bas-solutions.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.bloopark.de/" target="blank">
                <img src="contributors/bloopark.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.brouwland.com" target="blank">
                <img src="contributors/brouwland.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.catsanddogs.com/" target="blank">
                <img src="contributors/catsdogs.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="https://www.hucke-media.de/" target="blank">
                <img src="contributors/huckemedia.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <a href="http://www.datadialog.net/" target="blank">
                <img src="contributors/dialognet.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.dynapps.be/" target="blank">
                <img src="contributors/dynapps.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://opusvl.com/" target="blank">
                <img src="contributors/opusvl.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://oxenworkwear.com/" target="blank">
                <img src="contributors/oxen.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.simplit.co/" target="blank">
                <img src="contributors/simplitco.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.sodexis.com/" target="blank">
                <img src="contributors/sodexis.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
        <div class="col-lg-2 offset-lg-3">
            <a href="https://www.techreceptives.com" target="blank">
                <img src="contributors/tech-receptives.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="http://www.applicatour.com/" target="blank">
                <img src="contributors/applicatour.jpg" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
        <div class="col-lg-2">
            <a href="https://vauxoo.com" target="blank">
                <img src="contributors/vauxoo.png" class="img-fluid d-block mx-auto"/>
            </a>
        </div>
    </div>

    <p>Ross Whiting, Oxenworkwear - Hans Balis - Stephan Keller, Sodexis, Inc. - Michael Hucke, Hucke Media GmbH & Co. KG - Joachim Grubelnik, DaDi EDV GmbH​ datadialog.net - DynApps - Cats&Dogs bvba - Bloopark systems GmbH & Co. KG - Parthiv Patel, Tech Receptives Solutions Pvt. Ltd. - Stuart Mackintosh, OpusVL - Erwin van der Ploeg, BAS Solutions - ali Zuaby, simplit co - Aselcis Consulting - Nhomar Hernandez, Vauxoo</p>

    <h1 class="text-center"><u>Sponsor</u></h1>
    <br/>

    <p>Robert Baumgartner, datenpol gmbh - openBIG - Russell Phillippe, Protogenos Ltd - Julien Allo, Julius - EasyPME - Jonathan Wilson, WillowIT Pty Ltd - Xavier Mallein, MAallein - Pedro M. Baeza, Serv. Tecnol. Avanzados - Daniel Dico, OERP Canada - Jantz Business Group b.v. - LogicaSoft Consulting  - Eric Caudal, Elico Corp - Ermin Trevisan, Twanda - Jean-François Mattler, OpenFid SAS - Alex Ferrer, Lannex IT Solutions - Tony Gu, Shine IT Co. Ltd. 先安科技 - TaPo-IT OG - Jos De Graeve, Apertoso - Nicolas Rigo, eezee-it - Luis Miguel Varón E, Colorisa S.A - OpenBias - Stanislas Drouin Applicatour</p>

    <h1 class="text-center"><u>Power Designer</u></h1>
    <br/>

    <p>Rohit Thakral - François Dhommeaux, Ubic Informatique - Judson Alves, Market Home Delivery - Eric Flaux, ABF Osiell - Gilles Dupont - Arnis Putniņš - Johnson Martt, GetOpenERP (Part of OpenStow Technologies) - Gianluca Milano - Daniel Stolovich, ATEL S.A. - Equitania Software GmbH - Senthilnathan G - Houssine Bakkali - Arend Trip - Kevin Woolf, Baba Kevin's American Barbecue Co., Ltd. - toodoo sàrl - Zoltan Gabor 'Apersis' - Tom De Decker, WEB2GO LTD - Nicolás Cavalier Montenegro, STOREGUD CORPORATION SAC - Keirse Jerome - REAL Solutions S.A. - Davide Corio - Brice Muangkhot - Melvin Miguel Martinez, Mendoza Hernandez - Auditores - Chua Wen Ching - Tran Minh Tri working, ungdungtinhoc.com - Badisheng Morena - Sogexis - Josh Wardini - The Tee Shirt Bakery - Bruce Letterle, Red Lab Media - Benoit Vankoningsloo - Francisco Manuel Garcia Claramonte. - Paulina Mikolajczak-Blasco - Collectiv - Tony Fernando - Herbert Riener, rigaConcepts - Kalmen Chia, E-Global SCM Solution Sdn Bhd - Rob North, Pair A Dice Games - David E. Vargas, CloudShop - François Le Gal - Calin Chete (24h Solutions) - Maria Gabriela Fong, MAGA Systems & Consulting - Pascal Behr, Cytosurge AG - Marc Antwertinger - Opencloud Unipessoal, Lda - Ruchir Shukla, BizzAppDev - Michael Hucke, Hucke Media GmbH & Co. KG - Mathias Neef, copadoMEDIA UG - Pablo Arias - Same Motion - livingprocess.de - Habib Ayob - Igor Jovanovic - Liangming Wang, Weixuan Inc. - Jason Au Yeung, Binary System Limited - Fredrik Arvas, Arvas International AB - Martin Temmink, Zigaret - Mathieu Vanneste, Flockdesign - Filip Fruru, Instant Media - Marianne Wilmsmeier, Fabrik Fünf GmbH - Vertex Group Enterprises - Bingen Eguzkitza - Herczeg Péter, InnOpen Group Kft  - Giles Hohnen - Luis Felipe Miléo, KMEE - Maria Gabriela Fong, MAGA Systems & Consulting - Aaron Magon, Web Industries - Andrew Trueman, B.M. Trueman & Partners - Sven Petersen, Conexus - Nous Cambas - Oliver Yuan, OpenStone - Henri Ibowili, A-YANT.COM - Nicolas JEUDY - Helmut Drewes - Maik Steinfeld, Streward - Hans Henrik Gabelgaard - AJ Rosman - Eduard - Patrick Darribet, SUDOKEYS - Camptocamp - Cyril Morisse - Alejandro Santana - Eva Pinter, YBO - Mathias Neef, copadoMEDIA UG - Jean-Christophe Perrot, LOGICASOFT - Zarshed Ali, HiTechnologia - Stefan Reisich - Maxime Chambreuil, Savoir-faire Linux - Mario Gielissen, Openworx - Nicholas Burdic, Aptoworks LLC - Olivier Lenoir</p>
</section>
