<p class="logo"><a href="https://doc.nova-mis.com/">
  <img class="logo" src="{{ pathto('_static/openerp.png', 1) }}" alt="Logo"/>
</a></p>

<h3>Other Docs</h3>
<ul>
  <li><a href="https://doc.nova-mis.com/trunk">Novaris Developers Documentation</a></li>
  <li><a href="https://doc.nova-mis.com/trunk/server">Novaris Server Developers Documentation</a></li>
  <li><a href="https://doc.nova-mis.com/book">Novaris Users Documentation</a></li>
</ul>

<h3>Useful Links</h3>
<ul>
  <li><a href="https://www.nova-mis.com/">The Novaris website</a></li>
  <li><a href="http://python.org/">The Python programming language</a></li>
</ul>
